:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}
* {
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #0E2954;
}
h1, h2 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
ul {
  list-style: none;
}
#navbar {
  justify-content: center;
  background-color: #000000;
  z-index: 11;
}
.nav-item >  a {
  color: white;
  font-size: 3.2rem;
  padding: 0 2rem;
}
.nav-item > a:hover {
  color: #590696;
  background-color: var(--main-white);
}
.bg-img {
  background-image: linear-gradient(90deg, purple, rgb(180, 47, 114), #590696);
}
section {
  color: whitesmoke;
}
.welcome-section {
  height: 100dvh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
}
.text-area {
  padding: 2rem;
  margin: 2rem;
  border: .2rem solid;
  border-radius: .4rem;
  border-radius: 6rem;
  background-color: rgba(6, 1, 12, 0.76);
}
.text-area > h1 {
  font-size: 6rem;
}
.text-area > p {
  font-weight: 500;
  color: #be3144;
  font-size: 4rem;
  font-style: italic;
}
.project {
  height: 110dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project > .row {
  margin: 1rem;
}
.col-sm > a {
  color: white;
  text-decoration: none;
}
.col-sm > a > .img, .project-title {
  /* max-width: 420px; */
}
.project-title {
  font-size: 3.2rem;
  text-align: center;
  background-color: #590696;
}
span{
  color: #590696;
}
.col-sm > a:hover > p  {
  color: black;
  background-color: white;
}
.col-sm > a:hover > p > span {
  color: var(--main-red);
}

#about {
  padding-top: 4.3rem;
  height: 110dvh;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#about > h1 {
  font-size: 4.5rem;
  font-style: italic;
}
#about > ul {
  margin: 0 auto;
  max-width: 80rem;
}
strong {
  color: hotpink;
}
#about > ul > li {
  font-size: 2.8rem;
  font-weight: 500;
}
#contact {
  height: 110dvh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-info > h1 {
  /* font-size: 5.5rem; */
}
.contact-info > p {
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 500;
  color: var(--main-red);
}
.contact-links {
  margin-top: 3rem;
}
.contact-links > a {
  background-color: #303841;
  font-size: 2.5rem;
  color: whitesmoke;
  margin: .2rem;
}
.contact-links > a:hover {
  background-color: rgb(19, 85, 129);
}
.contact-details:hover {
  transform: translateY(-1.8rem);
}

/* Mobile small */
@media (max-width: 320px), (max-width: 768px) { 
  .nav-item > a {
    margin: 0 .1rem;
    font-size: 1.9rem;
    padding: .4rem;
  }
  .text-area {
    border-radius: 1.2rem 0;
  }
  .text-area > p{
    font-size: 3rem;
  }
  .project {
    padding-top: 16rem;
    margin-bottom: 8rem;
  }
  .projects-section-header > h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
  }
  .col-sm > a > img {
    width: 25rem;
    height: 16rem;
  }
  .project-title {
    font-size: 2rem;
  }
  #about {
    display: block;
  }
  #about > h1{
    font-size: 3.5rem;
  }
  #about > ul > li {
    font-size: 2rem;
  }
  .contact-info > p {
    font-size: 1.5rem;
  }
  .contact-links > a {
    font-size: 2.2rem;
  }
  .contact-details:hover {
    transform: translateX(2rem);
  }
}
